<h1>Item List Test Program</h1>
<span>
    <button (click)="toggleEditMode()">Edit Mode = {{ service.editMode}}</button>
    <button (click)="toggleTableMode()">Table List = {{ service.tableMode}}</button>
</span>
<hr>
<button (click)="refresh()">Refresh</button>
<br>
<div *ngIf="editForm">
    <app-edit (editClose)="closeEdit($event)" [item]="editItem">
    </app-edit>
</div>
<app-edit-list *ngIf="service.editMode; else display" (itemEdit)="openEdit($event)"></app-edit-list>
<ng-template #display>
    <app-item-list></app-item-list>
</ng-template>
